@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
/* add a line between navbar and the page*/

.flex-2 p{
    font-family: 'Aref Ruqaa';
}
.text-center{
    font-family: 'Aref Ruqaa';
}



  

