@tailwind base;
@tailwind components;
@tailwind utilities;

 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@layer components{
.nav-icon{
  @apply w-6 h-6 cursor-pointer
}
}


@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat-Arabic-Regular.ttf") format("truetype")
}
